@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --font-black: rgb(32, 32, 32);
    --font-white: rgb(255, 255, 255);
    --primary-color: rgb(12, 76, 163);
    --second-color: rgb(0, 149, 218);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
    color: var(--font-white);
}

/*  Cabeçalho  */

#container-cabecalho {
    width: 100%;
    height: 150px;
    box-shadow: 5px 5px 10px rgba(0, 149, 218, 0.572);
    display: flex;

}

#container-cabecalho #logo{
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

#container-cabecalho img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    
}

header div {
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

header div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    color: var(--font-white);
    background-color: var(--primary-color);
}

header div a:hover {
    transition: .5s;
    background-color: var(--second-color);
    color: var(--font-black);
}

/* main */

section {
    width: 50vw;
    margin: 4vh auto;
    background-image: linear-gradient( var(--primary-color), var(--second-color));
    border: 2px solid black;
    border-radius: 20px;
}

main section h1 {
    text-align: center;
    padding: 20px ;
    font-size: 3rem;
    font-weight: 900;
}

main section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form div {
    padding: 20px 0;
    width: 100%;
}

form .labels {
    font-size: 1.2em;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;
    padding: 0 15px;
}

form .inputs {
    width: 70%;
    height: 25px;
    border-radius: 5px;
    border: none;
    color: black;
    font-size: 1.1em;
    font-weight: bolder;
}

form #botaoSubmit {
    width: 250px;
    height: 35px;
    margin: 50px auto;
    border-radius: 5px;
    border: none;
    background-color: black;
    font-size: 1.2em;
    cursor: pointer;
}

form #botaoSubmit:hover {
    background-color: green;
    font-weight: bolder;
    color: black;
}